.container-shop{
    width: 100%;
    height: 150vh;
    background-color:darkgoldenrod;
    /* margin-top: 50px; */
}
.titulo-shop{
    color: #d9e1ff;
    margin-top: 60px;
    padding: 10px;
    text-align: center;
    letter-spacing: 2px;
    font-family: unset;
}