.container-item{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 2px solid #a9a0a0;
    margin-top: 30px;
}

.cart-item-controls{
    display: flex;
    flex-direction: row;
    /* width: 10%; */
    justify-content: space-between;
}

.active-cart-item{
    animation-name: openCartItem;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}
.cart-item-amount{
    background-color: aliceblue;
    color: black;
    text-align: center;
    padding: 2px;
    width: 20px;
    border-radius: 5px;
    margin: 0px 5px;
}
.cart-item-icon-add{
    margin-right: 5px;
}
@keyframes openCartItem {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}