.contenedor-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #564d4d;
    text-align: left;
    height: 47px;
    font-family: monospace;
    position: fixed;
}

.menu-link {
    text-decoration: none;
    color: whitesmoke;
    cursor: pointer;
    font-size: 17px;
    letter-spacing: 1px;
}

.icons-desktop {
    transform: scale(2);
}

.icons-mobile {
    display: none;
}

.icons-mobile-link {
    display: none;
}

.contador-items-bag {
    display: none;
}

@media (max-width : 550px) {

    .contenedor-menu {
        background-color: red;
        justify-content: center;
    }

    .menu-link-hide {
        display: none;
    }

    .menu-btn-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 0;
        margin: 0 0 5px 5px;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background-color: #968787;
        box-shadow: 0px 0px 5px 2px #000000;
        z-index: 999999;
        transition: transform .5s ease-in-out;

    }

    .active {
        transform: rotate(360deg);
    }

    .contenedor-links-mobile {
        position: fixed;
        bottom: 25px;
        margin: 0 0 5px 5px;
        border-radius: 25px 25px 0 0;
        background-color: #df92e4;
        width: 50px;
        height: 190px;
        transform: scaleY(0);
        transition: all 1s ease;
        transform-origin: bottom;
        transition-delay: .5s;
        box-shadow: 0px 0px 5px 2px #000000;
    }

    .contenedor-links-mobile-active {
        transform: scaleY(1);
    }

    .menu-mobile-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;
        border-radius: 50px;
        left: 7.5px;
        top: 25px;
        position: relative;
        margin-bottom: 10px;
    }

    .btn-carrito-mobil {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 0;
        right: 0;
        margin: 0 5px 5px 0;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background-color: #ec6ccb;
        box-shadow: 0px 0px 5px 2px #330327;
        z-index: 999999;
        transition: transform .5s ease-in-out;
    }

    .icons-mobile {
        transform: scale(2.5);
        display: block;
    }

    .icons-mobile-link {
        transform: scale(1.5);
        display: block;
    }

    .icons-mobile-link:hover {
        color: white;
    }

    .contenedor-carrito {
        background-color: blanchedalmond;
        position: absolute;
        bottom: 5px;
        right: 7px;
        margin: 0 5px 5px 0;
        border-radius: 10px 10px 25px 10px;
        box-shadow: 0px 0px 8px black;
        transform: all 1s;
    }

    .activar-animacion-carrito {
        animation-name: openBag;
        animation-duration: 1.5s;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
    }

    .desactivar-animacion-carrito {
        animation-name: closeBag;
        animation-duration: 1.5s;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
    }

    .contador-items-bag {
        display: block;
        width: 25px;
        height: 25px;
        border-radius: 50px;
        border: 2px solid #e6dbdb;
        border-style: outset;
        background-color: blanchedalmond;
        position: absolute;
        bottom: 41px;
        right: 7px;
        z-index: 9999999;
        box-shadow: 0px 0px 9px 1px black;
    }
}

@keyframes openBag {
    0% {
        width: 0px;
        height: 0px;
    }

    60% {
        width: 285px;
        height: 225px;
    }

    90% {
        width: 275px;
        height: 215px;
    }

    100% {
        width: 280px;
        height: 220px;
    }

}

@keyframes closeBag {
    0% {
        width: 280px;
        height: 220px;
    }

    100% {
        width: 0px;
        height: 0px;
    }
}