.contenedor-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #564d4d;
    text-align: left;
    height: 73px;
    font-family: monospace;
    position: fixed;
    top: 0;
    z-index: 99;
}

.menu-link {
    text-decoration: none;
    color: whitesmoke;
    cursor: pointer;
    font-size: 17px;
    letter-spacing: 1px;
}

.icons-desktop {
    transform: scale(2);
}

.icons-mobile {
    display: none;
}

.icons-mobile-link {
    display: none;
}

.contador-items-bag {
    display: none;
}

.container-menu-mobile {
    display: none;
}

.contenedor-carrito {
    display: none;
}
.container-kart{
    /* right: 0;
    top: -50%; */
    /* background-color: rgb(230 253 230);
    width: 50%;
    height: 350px;
    position: fixed;
    margin-right: 10px;
    border-radius: 25px;
    z-index: 22;
    transition: all 1s; */
    display: none;
}
.position{
    right: 0;
    top: -50%;
}

.active-bag-desktop{
    animation-name: openBagDesktop;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}
.deactive-bag-desktop{
    animation-name: closeBagDesktop;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}
@keyframes openBagDesktop {
    0%{
        top: -50%;
        right: 0;
    }
    100%{
        top: 10%;
        right: 0;
    }
}

@keyframes closeBagDesktop {
    0%{
        top: 10%;
        right: 0;
    }
    100%{
        top: -50%;
        right: 0;
    }
}
@media (max-width:550px) {

    .contenedor-menu {
        background-color: red;
        justify-content: center;
        top: 0;
        height: 63px;
        z-index: 999;
    }

    .menu-link-hide {
        display: none;
    }

    .icons-mobile {
        display: block;
        transform: scale(2);
        position: relative;
        top: 5px;
        color: #407bc5;
    }

    .icon-carrito {
        right: -10px;
        color: #3aa73a;
    }

    .icons-mobile-link {
        display: block;
        transform: scale(1.3);
        color: #2c7384;
    }

    .icons-mobile-link:hover {
        color: #203135;
    }

    .container-menu-mobile {
        display: block;
        position: fixed;
        bottom: 0px;
        /* height: 30px; */
        width: 95vw;
        border-radius: 40px;
        display: flex;
        justify-content: space-around;
        background-color: rgb(239 232 232);
        margin: calc((100% - 95%)/2);
        padding: 10px;
        z-index: 99999;
    }

    .text-menu-mobile {
        font-size: 12px;
        margin: 0;
        padding: 0;
        position: relative;
        top: 7px;

    }

    .text-carrito-mobile {
        left: 3px;
    }

    .text-mobile-menu {
        left: -6px;
    }

    .contenedor-links-mobile {
        position: fixed;
        bottom: 0%;
        /* height: 200px; */
        width: 47.5vw;
        border-radius: 40px;
        display: flex;
        justify-content: space-around;
        background-color: rgb(239 232 232);
        margin: calc((100% - 95%)/2);
        padding: 10px;
        left: 25%;
        z-index: 25;
        /* transition: all 1s; */
    }

    .activar-contenedor-menu-link {
        animation-name: openContenedorMenu;
        animation-duration: 1.5s;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
    }

    .desactivar-contenedor-menu-link {
        animation-name: closeContenedorMenu;
        animation-duration: 1s;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
    }

    .container-kart {
        display: flex;
        background: linear-gradient(180deg, rgb(214 227 230 / 75%) 0%, rgb(183 184 185 / 95%) 56%);
        width: 90vw;
        height: 0;
        position: fixed;
        /* bottom: 0px; */
        margin: calc((100% - 90%)/2);
        border-radius: 40px;
        overflow: hidden;
        padding: 10px;
        flex-direction: column;
        justify-content: space-between;
        overflow-y: scroll;
    }
    .active-kart{
        animation-name: abrirKart;
        animation-duration: 1.5s;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
    }
    .deactive-kart{
        animation-name: closekart;
        animation-duration: 1s;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
    }
    .cart-titulo{
        text-align: center;
        font-size: 21px;
        letter-spacing: 2px;
        border-bottom: 2px solid;
        text-shadow: 0px 0px 3px #ffffff;
    }
    .btn-order{
        width: 70%;
        margin: 10px calc((30%-20px)/2);
        
    }
}

@keyframes openContenedorMenu {

    0%{
        bottom: 0%;
    }

    100%{
        bottom: 8.5%;
    }
}

@keyframes closeContenedorMenu {
    0%{
        bottom: 8.5%;
    }

    100%{
        bottom: 0%;
    }
}

@keyframes abrirKart {

    0% {
        height: 0;
        bottom: 0px;
    }

    100% {

        height: 300px;
        bottom: 53px;
    }
}

@keyframes closekart {
    0% {
        height: 300px;
        bottom: 53px;
    }

    100% {
        height: 0;
        bottom: 0;
    }
}



